{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/birds/bird-detail.css' %}" />
<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet" 
/>
<link rel="stylesheet" href="{% static 'css/mcdp.css' %}">

<script 
  src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
>
</script>

<link rel="stylesheet" href="{% static 'css/cats/cat-detail.css' %}" />
{% endblock %}
{% block content %}
<section class="bird-container">
  <div class="cat-img">
    <img src="{% static 'images/sk8r-boi-cat.svg' %}" alt="A skater boy cat" />
  </div>
  <div class="bird-details">
    <h1>{{ bird.name }}</h1>
    {% if bird.age > 0 %}
      <h2>A {{ bird.age }} year old {{ bird.breed }}</h2>
    {% else %}
      <h2>A {{ bird.breed }} kitten.</h2>
    {% endif %}
    <p>{{ bird.description }}</p>

    <div class="bird-actions">
        <a href="{% url 'bird-update' bird.id %}" class="btn warn">Edit</a>
        <a href="{% url 'bird-delete' bird.id %}" class="btn danger">Delete</a>
      </div>
  </div>
</section>
{% endblock %}

<h3>Add a Feeding</h3>
<form
  action="{% url 'add-feeding' bird.id %}"
  method="post"
  class="subsection-content"
  autocomplete="off"
>
  {% csrf_token %} 
  {{ feeding_form.as_p }}
  <button type="submit" class="btn submit">Add Feeding</button>
</form>
<h3>Past Feedings</h3>
{% if bird.feeding_set.all.count %}
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Meal</th>
      </tr>
    </thead>
    <tbody>
      {% for feeding in bird.feeding_set.all %}
      <tr>
        <td>{{feeding.date}}</td>
        <td>{{feeding.get_meal_display}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <div class="subsection-content">
    <p>⚠️ {{bird.name}} has not been fed!</p>
  </div>
{% endif %}

<form method="post" class="subsection-content" autocomplete="off">
  {% csrf_token %} 
  {{ feeding_form.as_p }}
  <button type="submit" class="btn submit">Add Feeding</button>
</form>


<div class="feedings-toy-container">
    <section class="feedings">
      <div class="subsection-title">
        <h2>Feedings</h2>
        <img
          src="{% static 'images/cat-cone.svg' %}"
          alt="An ice cream cone cat"
        />
        <img src="{% static 'images/cat-onigiri.svg' %}" alt="A cat as onigiri" />
        <img
          src="{% static 'images/kitty-kabob.svg' %}"
          alt="A kabob of kittens"
        />
      </div>
      <table>
        <thead>
          <tr>
            <th>Date</th>
            <th>Meal</th>
          </tr>
        </thead>
        <tbody>
          {% for feeding in bird.feeding_set.all %}
            <tr>
              <td>{{feeding.date}}</td>
              <td>{{feeding.get_meal_display}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </section>
    <form
  action="{% url 'add-feeding' bird.id %}"
  method="post"
  class="subsection-content"
>
  {% if cat.fed_for_today %}
  <p class="fed">{{bird.name}} has been fed all their meals for today!</p>
  {% else %}
  <p class="unfed">{{bird.name}} might be hungry!</p>
  {% endif %} 
  {% csrf_token %}
  {{ feeding_form.as_p }}
  <button type="submit" class="btn submit">Add Feeding</button>
</form>

    <section class="toys">
      <div class="subsection-title">
        <h2>Toys</h2>
        <img src="{% static 'images/string.svg' %}" alt="A ball of string" />
        <img src="{% static 'images/mouse.svg' %}" alt="A mouse" />
        <img src="{% static 'images/fish.svg' %}" alt="A fishy toy" />
      </div>
      <h3>{{ bird.name }}'s Toys</h3>
  <div class="subsection-content">
    {% if bird.toys.count %} 
      {% for toy in cat.toys.all %}
        <div class="toy-container">
          <div class="color-block" style="background-color: {{ toy.color }}"></div>
          <a href="{% url 'toy-detail' toy.id %}">
            <p>A {{ toy.color }} {{ toy.name }}</p>
          </a>
        </div>
      {% endfor %} 
    {% else %}
      <p class="no-toys">{{bird.name}} doesn't have any toys!</p>
    {% endif %}
  </div>
      <h3>Available Toys</h3>
      <div class="subsection-content">
        {% for toy in toys %}
          <div class="toy-container">
            <div class="color-block" style="background-color: {{ toy.color }}"></div>
            <a href="{% url 'toy-detail' toy.id %}">
            <p>A {{ toy.color }} {{ toy.name }}</p>
            </a>
            <form action="{% url 'associate-toy' bird.id toy.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn submit">Give Toy</button>
            </form>
            <form action="{% url 'remove-toy' bird.id toy.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger">Remove Toy</button>
            </form>
            
          </div>
        {% endfor %}
        <p class="all-toys">{{cat.name}} already has all the available toys 🥳</p>
        {% endif %}
      </div>
  {% endblock %}
  